<div class="container">
  <div class="panel-body">
    <form 
      id="trail-edit" 
      (ngSubmit)="onSubmit(f)" 
      #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">What is the trails name?</label>
          <input
            type="text"
            id="name"
            class="form-control"
            size="120"
            max="120"
            name="name"
            ngModel
            [ngModel]="trail?.name"
            required
            #name="ngModel"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="description">Tell us a little bit about the trail.</label>
          <input
            type="text"
            id="description"
            class="form-control"
            size="120"
            max="255"
            name="description"
            ngModel
            [ngModel]="trail?.description"
          />
        </div>
      </div>

      

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="mountain">What mountain is this trail on?</label>
          <input
            type="text"
            id="mountain"
            class="form-control"
            size="120"
            max="255"
            name="mountain"
            ngModel
            [ngModel]="trail?.mountain"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="location">What is the location of the trail head?</label>
          <input
            type="text"
            id="location"
            class="form-control"
            size="120"
            max="255"
            name="location"
            ngModel
            [ngModel]="trail?.location"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="length">How long is this hike in miles?</label>
          <input
            type="text"
            id="length"
            class="form-control"
            size="120"
            max="255"
            name="length"
            ngModel
            [ngModel]="trail?.length"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="time">How long does it take to complete this hike?</label>
          <input
            type="text"
            id="time"
            class="form-control"
            size="120"
            max="255"
            name="time"
            ngModel
            [ngModel]="trail?.time"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="imageUrl">Please include an image url of the mountian, trail, or trail head.</label>
          <input
            type="text"
            id="imageUrl"
            class="form-control"
            size="150"
            max="255"
            name="imageUrl"
            ngModel
            [ngModel]="trail?.imageUrl"
            required
            #url="ngModel"
          />
        </div>
      </div>

      <div class="alert alert-danger" *ngIf=" !name.valid && name.touched || !url.valid && url.touched">
        The Document Title and Document URL are required fields.
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success m-2" type="submit" [disabled]="!f.valid">
            Save
          </button>
          <button class="btn btn-primary m-2" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
