<a class="clearfix trail-cards d-block " [routerLink]="[trail.id]">
  <div class="card text-center text-black" style="width: 26rem">
    <img
      src="../../../assets/images/Kings_Peak.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{ trail.name }}</h5>
      <p class="card-text">{{ trail.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Mountian: {{ trail.mountain }}</li>
      <li class="list-group-item">Town: {{ trail.town }}</li>
      <li class="list-group-item">Trail Length: {{ trail.length }}</li>
      <li class="list-group-item">Time to complete: {{ trail.time }}</li>
    </ul>
    <div class="card-body">
      <button class="btn btn-primary m-2 edit-btn">Edit</button>
      <button class="btn btn-danger m-2">Delete</button>
    </div>
  </div>
</a>
