<div class="card text-center text-black">
    <img
      src="{{ trail.imageUrl }}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{ trail.name }}</h5>
      <p class="card-text">{{ trail.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Mountian: {{ trail.mountain }}</li>
      <li class="list-group-item">Location: {{ trail.location }}</li>
      <li class="list-group-item">Trail Length: {{ trail.length }}</li>
      <li class="list-group-item">Time to complete: {{ trail.time }}</li>
    </ul>
  <div class="card-body">
    <a class="btn btn-primary trail-cards m-2" [routerLink]="[trail.id]">View</a>
    <a class="btn btn-primary m-2 edit-btn" routerLink="{{trail.id}}/edit">Edit</a>
    <a class="btn btn-danger m-2" (click)="onDelete(trail.id)">Delete</a> 
  </div>
</div>

