<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Welcome to {{ title }}</h1>
      <p class="lead">The perfect hike planning companion!</p>
    </div>
  </div>
  <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/Mount_Timpanogos.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Mount Timpanogos</h5>
          <p>Wasach Range, Elevation: 11,757 ft</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/Bald_Mountain.jfif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block bald">
          <h5>Bald Mountain</h5>
          <p>Uinta Mountains, Elevation: 11,948 ft</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/Kings_Peak.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Kings Peak</h5>
          <p>Uinta Mountains, Elevation: 13,534 ft</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/Mount_Olympus.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Mount Olympus</h5>
          <p>Wasach Range, Elevation: 9,030 ft</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


